<h1>Your cocktail</h1>

<h2><%= @cocktail.name %></h2>

<h3>To make this marvelous cocktail you'll need: </h3>
  <% @cocktail.doses.each do |dose| %>
    <h4><%= dose.ingredient.name %></h4>
    <h4><%= dose.description %></h4>
    <%= link_to "Delete this ingredient", cocktail_dose_path(@cocktail), method: :delete %>
  <% end %>

<%= link_to "Add a new ingredient", cocktail_dose_path(@cocktail) %>


<!-- Ici c'est à modifier parce qu'on veut itérer sur la dose, pour pouvoir l'utiliser pour
le DELETE -->
